.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: 15px auto 0 auto; /* Margen superior añadido */
}

.blue-background {
    background-color: #b3d9ff; /* Azul claro */
}

.pink-background {
    background-color: #ffcce6; /* Rosado claro */
}

.doctor-image {
    max-width: 80%;
    border-radius: 50%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
}

.get-started-button {
    margin-top: 20px;
}